* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

.htlogo {
	padding: 10px;
	position: absolute;
	height: 100px;
	width: 110px;
	top: 0px;
}

.slogo {
	padding: 20px;
	position: absolute;
	top: 15px;
	right: 1px;
}

.header {
	height: 100px;
	background-color: lightgreen;
}

h1 {
	color: darkblue;
	text-align: center;
	padding: 30px;
	font-family: Arial;
	text-align: center;
}

.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	padding: 20px;
	width: 100%;
	color: darkblue;
	font-family: Arial;
	font-size: 18px;
	background-color: lightgreen;
}

.styled1-table {
	border-collapse: collapse;
	font-size: 19px;
	font-family: sans-serif;
	min-width: 300px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	position: relative;
	margin-left: 100px;
	top: -5px;
}

.styled1-table td {
	padding: 14px 17px;
	border: 1px solid #ddd;
}

.styled1-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled1-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled1-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.styled1-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

.styled3-table {
	border-collapse: collapse;
	float: right;
	margin-right: 60px;
	font-size: 19px;
	font-family: sans-serif;
	min-width: 260px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	position: absolute;
	left: 970;
	top: 600px;
	text-align: center;
}

.styled3-table td, th {
	padding: 12px 15px;
	border: 1px solid #ddd;
}

.styled3-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.styled3-table tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;
}

.styled3-table tbody tr:last-of-type {
	border-bottom: 2px solid #009879;
}

.styled3-table tbody tr.active-row {
	font-weight: bold;
	color: #009879;
}

.styled3-table thead tr {
	background-color: #009879;
	color: #ffffff;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}

.styled2-table {
	color: #009879;
	position: absolute;
	left: 950;
	top: 200px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: sans-serif;
	float: right;
	margin-right: 45px;
}

.heading {
	font-weight: bold;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	background-color: #009879;
	color: #ffffff;
	text-align: center;
	padding: 15px;
	font-size: 25px;
	width: 800px;
	margin: 20px;
}

.flex-container {
	display: flex;
	justify-content: space-between;
}

.interviewed {
	position: relative;
	left: 270px;
	top: 10px;
}

.sourced {
	position: relative;
	left: 30px;
	top: 50px;
}

.l1 {
	position: relative;
	left: -110px;
	top: 50px;
}

.l2 {
	position: relative;
	left: -60px;
	top: 50px;
}

.l3 {
	position: relative;
	left: -17px;
	top: 50px;
}

.box1 {
	position: relative;
	left: 30px;
	top: 40px;
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: #009879;
	width: 100px;
	border: 1px solid green;
}

.box2 {
	position: relative;
	top: 40px;
	left: -110px;
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: #009879;
	width: 100px;
	border: 1px solid green;
}

.box3 {
	position: relative;
	top: 40px;
	left: -60px;
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: #009879;
	width: 100px;
	border: 1px solid green;
}

.box4 {
	position: relative;
	top: 40px;
	left: -20px;
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	color: #009879;
	width: 100px;
	border: 1px solid green;
}

.button {
	background-color: #009879;
	border: none;
	color: white;
	padding: 10px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
	position: absolute;
	left: 100px;
}

.button1 {
	background-color: lightgreen;
	border: none;
	position: absolute;
	left: 620px;
	color: 009879;
	padding: 12px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
}

.button2 {
	background-color: lightgreen;
	border: none;
	position: absolute;
	left: 800px;
	color: 009879;
	padding: 12px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
}

.button3 {
	background-color: #009879;
	border: none;
	position: absolute;
	left: 400px;
	top: 200px;
	color: white;
	padding: 10px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
}

.button4 {
	background-color: #009879;
	border: none;
	position: absolute;
	left: 700px;
	top: 200px;
	color: white;
	padding: 10px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
}

.button6 {
	background-color: #009879;
	border: none;
	position: absolute;
	left: 970px;
	top: 200px;
	color: white;
	padding: 10px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
}

.button7 {
	background-color: #009879;
	border: none;
	position: absolute;
	left: 1200px;
	top: 200px;
	color: white;
	padding: 10px 27px;
	text-align: center;
	border-radius: 12px;
	font-size: 16px;
	margin: 8px 6px;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	left: 300px;
}

.menu{
	float: left;
	display: block;
	color: #009879;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	left: 300px;
	font-family: var(- -bs-font-sans-serif);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}
.logout {
	color: #009879;
	position: absolute; 
	right: 20px;
	top:100px;
	padding: 16px;
	text-decoration: none;
	font-family: var(- -bs-font-sans-serif);
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
}
input[type=text], input[type=password] {
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.login {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
} 

button:hover {
	color:white;
}

.container {
	position: absolute;
	top: 550;
	left: 750px;
	width: 16%;
	padding: 16px;
}

.container1 {
	position: absolute;
	top: 300;
	left: 750px;
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
		display: block;
		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}
.bgimg{
	position:absolute;
	height:700px;
	width:1850px;
}
